.footer {
  bottom: 0;
  width: 100%;
  height: 20px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
}

.line {
  color: aliceblue;
  text-align: center;
}

.link {
  color: hsl(0, 100%, 50%);
}
